In [ ]:
# Range = max - min

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
dataset = pd.read_csv("dataset/products-100.csv")

In [20]:
dataset.head(3)

,Index,Name,Description,Brand,Category,Price,Currency,Stock,EAN,Color,Size,Availability,Internal ID
0,1,Compact Printer Air Advanced Digital,Situation organization these memory much off.,"Garner, Boyle and Flynn",Books & Stationery,265,USD,774,2091465262179,ForestGreen,Large,pre_order,56
1,2,Tablet,Discussion loss politics free one thousand.,Mueller Inc,Shoes & Footwear,502,USD,81,5286196620740,Black,8x10 in,in_stock,29
2,3,Smart Blender Cooker,No situation per.,"Lawson, Keller and Winters",Kitchen Appliances,227,USD,726,1282898648918,SlateGray,XS,in_stock,70

In [7]:
min_r = dataset["Price"].min()
max_r = dataset["Price"].max()

In [8]:
min_r, max_r

(np.int64(1), np.int64(999))

In [11]:
range = max_r - min_r

In [12]:
range

np.int64(998)